/* Regular link color for sidebar links */
.sidebar-link, .sidebar-link-header {
    color: rgb(197, 255, 237);;
    /* Or any light color that is visible on dark background */
    text-decoration: none;
    /* Optional: removes underline */
}

/* Hover and active states for better user experience for sidebar links */
.sidebar-link:hover,
.sidebar-link:active {
    text-decoration: underline;
}

.sidebar-link-header:hover,
.sidebar-link-header:active {
    text-decoration: underline;
}