body {
  margin: 0;
  font-family: 'Courier New', monospace;
}

code {
  font-family: 'Courier New', monospace;
}

p, div {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

p {
  font-size: 15px;
}

/* For headings: */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.sidebar-link {
  position: relative;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  margin-left: 20px;
}

.sidebar-link-header {
  position: relative;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.paragraphSection {
  margin-bottom: 20px;
  text-align: left
};

/* App.js */

.App {
  display: flex;
  height: 100vh;
  width: 100vw; /* Ensure full viewport width */
  overflow: hidden; /* Hide overflow */
}

.sidebar {
  position: fixed; /* Fixed position */
  width: 25%; /* Width of the sidebar */
  left: 0; /* Align to the left */
  top: 0; /* Align to the top */
  bottom: 0; /* Stretch to the bottom */
  overflow-y: auto; /* Scroll if content overflows */
}

.main-content {
  margin-left: 25%; /* Shift to the right to avoid overlapping with sidebar */
  width: 55%; /* Adjust the width to fit between sidebar and "What's Going On?" */
  overflow-y: auto; /* Enable scrolling for main content */
}

.whats-going-on {
  position: fixed; /* Fixed position */
  width: 18%; /* Width of the section */
  right: 0; /* Align to the right */
  top: 0; /* Align to the top */
  bottom: 0; /* Stretch to the bottom */
  overflow-y: auto; /* Scroll if content overflows */
}

@media (max-width: 992px) {
  .whats-going-on {
    display: none; /* Hide on smaller screens */
  }

  .sidebar {
    width: 25%;
  }

  .main-content {
    margin-left: 25%;
    width: 75%; /* Adjust the width for smaller screens */
  }
}


