body {
  margin: 0;
  font-family: 'Courier New', monospace;
}

code {
  font-family: 'Courier New', monospace;
}

p, div {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

p {
  font-size: 15px;
}

/* For headings: */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
